{
  "tabWidth": 2,
  "useTabs": false,
  "bracketSameLine": true,
  "singleAttributePerLine": true,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-go-template"],
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "go-template"
      }
    }
  ]
}
