<!--
SPDX-FileCopyrightText: 2022 - 2024 Ali Sajid Imami

SPDX-License-Identifier: MIT
-->

{{- $params := partial "function/params.html" -}}
<meta
  name="referrer"
  content="same-origin" />
<meta
  http-equiv="Content-Security-Policy"
  content="default-src 'self' ; base-uri 'none'; form-action 'self'; img-src 'self' https://cdn.jsdelivr.net; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline'; require-trusted-types-for 'script';" />

<meta
  name="author"
  content="{{ .Site.Params.author.name }}" />
<meta
  name="author-link"
  content="{{ .Site.Params.author.link }}" />
<meta
  name="description"
  content="{{ with .Description }}
    {{ . }}
  {{ else }}
    {{ if .IsPage | and .Summary }}
      {{ .Summary }}
    {{ else }}
      {{ with .Site.Params.description }}{{ . }}{{ end }}
    {{ end }}

  {{ end }}
  " />

{{- $keywords := .Keywords -}}
{{- if not $keywords -}}
  {{- if .IsPage | and
    .Params.tags
  -}}
    {{- $keywords = .Params.tags -}}
  {{- else -}}
    {{- $keywords =
      .Site.Params.keywords
    -}}
  {{- end -}}
{{- end -}}
{{- with $keywords -}}
  <meta
    name="keywords"
    content="{{ delimit . ", " }}" />
{{- end -}}
{{- template "_internal/schema.html" . -}}
{{- template
  "_internal/opengraph.html" .
-}}
{{- template "_internal/twitter_cards.html" . -}}


<meta
  name="application-name"
  content="{{ .Site.Params.app.title | default .Site.Title }}" />
<meta
  name="apple-mobile-web-app-title"
  content="{{ .Site.Params.app.title | default .Site.Title }}" />

{{- with .Site.Params.app.themeColor -}}
  {{- $color := . -}}
  {{- if ne (len
    $color) 2
  -}}
    {{- $color = dict "light" . "dark" . -}}
  {{- end -}}
  <meta
    name="theme-color"
    data-light="{{ $color.light }}"
    data-dark="{{ $color.dark }}"
    content="{{ $color.light }}" />
{{- end -}}
{{- with .Site.Params.app.tileColor -}}
  <meta
    name="msapplication-TileColor"
    content="{{ . }}" />
{{- end -}}
{{- with .Site.Params.social.Mastodon -}}
  <meta name="fediverse:creator" content="{{.id}}@{{.server}}" />
{{- end -}}
