<!--
SPDX-FileCopyrightText: 2021 - 2024 Ali Sajid Imami

SPDX-License-Identifier: MIT
-->

{{- partial "init/index.html" . -}}

<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/WebPage" lang="{{ .Site.LanguageCode }}">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TXZGZKZW');</script>
    <!-- End Google Tag Manager -->

    {{ if .IsHome | and (ne .Site.Params.disableThemeInject true) }}
      <meta name="theme" content='FixIt {{ .Scratch.Get "version" }}'>
    {{ end }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
    <meta name="robots" content="noodp" />
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{- partial "head/meta.html" . -}}
    {{- partial "head/link.html" . -}}
    {{- partial "head/seo.html" . -}}
    {{- partial "head/script.html" . -}}
    {{- /* TODO preload script https://developer.mozilla.org/zh-CN/docs/Web/HTML/Attributes/rel/preload */ -}}
    {{- /* TODO add config and page config to config.js (static) */ -}}
    {{- /* Custom head */ -}}
    {{- block "custom-head" . }}{{ end -}}
  </head>
  <body data-header-desktop="{{ .Site.Params.header.desktopMode }}" data-header-mobile="{{ .Site.Params.header.mobileMode }}">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TXZGZKZW"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{- /* Body wrapper */ -}}
    <div class="wrapper" data-page-style="{{ (partial `function/params.html`).pageStyle | default `normal` }}">
      {{- partial "header.html" . -}}
      {{- partial "breadcrumb.html" . -}}
      {{- $toc := .Scratch.Get "toc" -}}
      <main class="container{{ if (eq $toc.enable true) | and (eq $toc.position `left`) }} container-reverse{{ end }}">
        {{- block "content" . }}{{ end -}}
      </main>
      {{- partialCached "footer.html" . -}}
    </div>

    {{- /* Theme widgets */ -}}
    {{- partial "widgets.html" . -}}

    {{- /* Load JavaScript scripts and CSS */ -}}
    {{- partial "assets.html" . -}}
  </body>
</html>
