/*
 * SPDX-FileCopyrightText: 2022 - 2024 Ali Sajid Imami
 *
 * SPDX-License-Identifier: MIT
 */

// ==============================
// Custom style
// ==============================
.archive .archive-item-date {
    width: 10em;
    text-align: right;
    color: $global-font-secondary-color;

    [theme=dark] & {
      color: $global-font-secondary-color-dark;
    }
  }
